<!DOCTYPE html>
<html>
  <head>
    <title>Filmers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">TOP</a>
      
      <% if current_user %>
        <%= link_to "#{current_user.name}さん", user_path(current_user), class: 'user' %>
        <%= link_to 'ログアウト', logout_path, method: :delete, class: 'logout' %>
        <% if current_user.admin? %>
          <%= link_to 'ユーザー', admin_path %>
        <% end %>
      <% else %>
        <%= link_to '新規登録', new_user_path, class: 'user' %>
        <%= link_to 'ログイン', login_path, class: 'login' %>
      <% end %>
        <%= link_to '個展一覧', photos_path %>
        <%= link_to '記事一覧', posts_path %>
    </header>

    <div class="container">
      <% if flash[:notice] %>
        <div class="alert"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
