<!DOCTYPE html>
<html>
  <head>
    <title>Filmers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><a href="/" class="uk-margin-left">TOP</a></li>
            <li><%= link_to '個展一覧', photos_path %></li>
            <li><%= link_to '記事一覧', posts_path %></li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <% if current_user %>
              <li>
                <%= link_to "#{current_user.name}さん", user_path(current_user), class: 'uk-margin-right' %>
                  <div class="uk-navbar-dropdown uk-padding-remove-bottom">
                    <ul class="uk-nav uk-navbar-dropdown-nav uk-align-center">
                      <li><%= link_to '個展を開催する', new_photo_path %></li>
                      <% if current_user.admin? %>
                        <li><%= link_to '記事を投稿する', new_post_path %></li>
                      <% end %>
                      <li><%= link_to 'マイページ', user_path(current_user) %></li>
                      <% if current_user.admin? %>
                        <li><%= link_to 'ユーザー', admin_path %></li>
                      <% end %>
                      <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
                    </ul>
                  </div>
              </li>
            <% else %>
              <li><%= link_to '新規登録', new_user_path %></li>
              <li><%= link_to 'ログイン', login_path, class: 'uk-margin-right' %></li>
            <% end %>
        </div>
      </nav>
    </header>

    <% if flash[:notice] %>
      <div class="uk-alert-primary uk-text-center"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
