<!DOCTYPE html>
<html>
  <head>
    <title>Filmers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">TOP</a>
      <ul>
        <li>新規登録</li>
        <li>ログイン</li>
        <li>マイページ</li>
        <li>ログアウト</li>
      </ul>
    </header>

      <div class="container">
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>

        <%= yield %>
      </div>
  </body>
</html>
