<% if photo.errors.present? %>
  <ul>
    <% photo.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: photo, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: 'required' %>
  <%= f.label :image %>
  <%= f.file_field :image, required: 'required' %>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 10 %>

  <%= f.submit '投稿' %>
<% end %>