<h1><%= "#{@photo.title}" %></h1>

<div class="photo-in-show">
<%= image_tag @photo.image if @photo.image.attached? %>
</div>
<p>
<%= @photo.description %>
</p>
<p>
<%= @photo.created_at.strftime('%Y年 %m月 %d日') %>
</p>
<p>いいね件数: 
<%= @photo.likes.count %>
</p>

<% if current_user %>
  <% if current_user.already_liked?(@photo) %>
    <%= button_to 'いいねを取り消す', photo_like_path(@photo), method: :delete %>
  <% else %>
    <%= button_to 'いいね', photo_likes_path(@photo) %>
  <% end %>
<% end %>

<p>いいねした人: 
<% @photo.likes_users.each do |user| %>
  <%= "#{user.name}さん" %>
<% end %>
</p>

<div class="edit-or-delete">
  <% if current_user %>
    <% if current_user.id == @photo.user_id %>
      <%= link_to '編集', edit_photo_path(@photo) %>
      <%= link_to '削除', photo_path(@photo), method: :delete, data: { confirm: "#{@photo.title}を削除します。本当によろしいですか？" } %>
    <% end %>
  <% end %>
</div>