<% if user.errors.present? %>
  <ul>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: user, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, required: 'required' %>
  <%= f.label :email %>
  <%= f.text_field :email, required: 'required' %>
  <%= f.label :password %>
  <%= f.password_field :password, required: 'required' %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, required: 'required' %>

  <%= f.submit '登録' %>

<% end %>